[Unit]
Description=CRIUS Container Runtime
Wants=network-online.target
After=network-online.target dbus.service

[Service]
Type=simple
ExecStart=/usr/bin/crius --config /etc/crius/crius.conf
Restart=always
RestartSec=5
Delegate=yes
KillMode=process
RuntimeDirectory=crius
StateDirectory=crius
LogsDirectory=crius

# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
OOMScoreAdjust=-999

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
